@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 7%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;
    --primary: 145 97% 13%;
    --primary-foreground: 0 0% 100%;
    --secondary: 140 33% 97%;
    --secondary-foreground: 145 97% 13%;
    --muted: 140 33% 97%;
    --muted-foreground: 215 16.3% 46.9%;
    --accent: 140 33% 97%;
    --accent-foreground: 145 97% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 20% 90%;
    --input: 140 20% 90%;
    --ring: 145 97% 13%;
    --radius: 0.5rem;
  }
}

body {
  @apply bg-background text-foreground antialiased;
}

@media print {
  aside, header, nav, button, .print\:hidden {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    visibility: hidden !important;
  }

  body, main {
    background-color: white !important;
    color: black !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
